In [9]:
import json
import pandas as pd

In [10]:
data = {
    "employees":[
        {"firstName":"John", "lastName":"Doe"},
        {"firstName":"Anna", "lastName":"Smith"},
        {"firstName":"Peter", "lastName":"Jones"}
    ]
}

In [16]:
json_str = json.dumps(data)
df = pd.read_json(json_str)

In [19]:
df

                                     employees
0     {'firstName': 'John', 'lastName': 'Doe'}
1   {'firstName': 'Anna', 'lastName': 'Smith'}
2  {'firstName': 'Peter', 'lastName': 'Jones'}